/*
Form edits (mostly to account for GForms).

@since 1.0.0
*/
@import "../settings";

.gform_fields {
  list-style: none;
  margin: 0;
}

label.gfield_label {
  font-weight: bold;
}

.name_first, .name_last {
  input[type="text"] {
    margin-bottom: 0;
  }

  label {
    margin-bottom: $paragraph-margin-bottom;
    font-style: italic;
  }
}